#speciatily{
    height: 500px;
}
#speciatily .container-speciality{
    width: 1150px;
    height: 400px;
    margin-left: 143px;
    margin-top: 60px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
    position: relative;
}
.title-speciality{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 12px;
}
#speciatily .container-item{
    width: 1150px;

}
#speciatily .container-speciality .speciatily-item{
    /* background-color: bisque; */
    height: 260px;
    width: 220px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    align-items: center;
    display: inline-block;
    margin-left: 130px;
}
#speciatily .container-speciality .container-item img{
    width: 60%;
    margin-top: 30px;
    margin-left: 28px;
}
#speciatily .container-speciality .container-item .title-speciatily{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
#speciatily .container-speciality .btn-back,
#speciatily .container-speciality .btn-next{
    height: 60px;
    width: 35px;
    background-color: #ffff;
}
#speciatily .container-speciality .btn-back{
    border-radius: 0 10px 10px 0;
    border: 2px solid #d7d7d7;
    position: absolute;
    top: 180px;
}
#speciatily .container-speciality .btn-next{
    border-radius:  10px 0 0 10px ;
    position: absolute;
    border: 2px solid #d7d7d7;
    top: 180px;
    right: 0px;
}
